<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 首页Banner -->
<mapper namespace="com.wisewin.backend.dao.BannerDAO">

    <!--查询首页信息-->
    <select id="queryBannerAllOrById" resultType="com.wisewin.backend.entity.bo.BannerBO">
        select
        id,title,picture_url as pictureUrl,type,
        skip_url as skipUrl,sort,status,create_user_id as createUserId,
        create_time as createTime,update_user_id as updateUserID,update_time as updateTime
        from
        lt_banner
        <where>
            <if test="status!=null and status!=''">and status=#{status}</if>
        </where>

        order by sort desc
    </select>





    <!--添加首页信息-->
    <insert id="addBanner" parameterType="com.wisewin.backend.entity.bo.BannerBO">
        insert into
        lt_banner
        (title,picture_url,type,skip_url,sort,status,create_user_id,create_time)
        values
        (#{title},#{pictureUrl},#{type},#{skipUrl},#{sort},#{status},#{createUserId},now())
    </insert>

    <!--修改首页信息-->
    <update id="updateBanner" parameterType="com.wisewin.backend.entity.bo.BannerBO">
        update lt_banner
        set
        title=#{title},picture_url=#{pictureUrl},type=#{type},
        skip_url=#{skipUrl},sort=#{sort},status=#{status},
        update_user_id=#{updateUserId},update_time=now()
        where id =#{id}
    </update>

    <!--删除首页信息 如果要下架就修改状态相当于逻辑删除-->
    <update id="deleteBanner">
        update lt_banner set status=#{status},update_time=now(),update_user_id=#{id}
        where id =#{bannerId}
    </update>

</mapper>