<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 字典 -->
<mapper namespace="com.wisewin.backend.dao.DictionariestypeDAO" >


    <!--添加字典表-->
    <insert id="addDictionariestype" useGeneratedKeys="true" keyProperty="id" parameterType="com.wisewin.backend.entity.bo.DictionariestypeBO">

        INSERT  INTO
          lt_dictionariestype (
            key_name,
            rank,update_name_id,
           update_time,value_name
          )VALUES (
            #{keyName},
            #{rank},#{updateNameId},
            now(),#{valueName}
          )

    </insert>

    <!--条件查询显示字典表所有数据-->
    <select id="queryDictionariestype" resultType="com.wisewin.backend.entity.bo.DictionariestypeBO">

      SELECT
       id,key_name,
        rank,update_name_id,
        update_time,value_name
      FROM
        lt_dictionariestype
        <where>
            <if test="keyName!=null and keyName!='' ">
                key_name=#{keyName}
            </if>
        </where>
      ORDER  BY
          rank

    </select>

    <!--显示字典类型-->
    <select id="queryDictionariestypelist" resultType="com.wisewin.backend.entity.bo.DictionariestypeBO">
      SELECT
        id,key_name,
        rank,update_name_id,
        update_time,rank,
        valueName
      FROM
        lt_dictionariestype
      ORDER  BY
          rank
    </select>

    <!--根据条件查询是否有值-->
    <select id="findDictionariestypevalueName" resultType="int">
      SELECT
          COUNT(value_name)
       FROM
          lt_dictionariestype
      WHERE
         value_name=#{valueName}

    </select>
    <!--根据条件查询-->
    <select id="findDictionariestypekeyName" resultType="int">
       SELECT
          COUNT(key_name)
       FROM
          lt_dictionariestype
      WHERE
         key_name=#{keyName}
    </select>

    <!--修改字典类型表数据-->
    <update id="updateDictionariestype" parameterType="java.util.Map">
     UPDATE
        lt_dictionariestype
     SET
         key_name=#{keyName},rank=#{rank},
         update_name_id=#{updateNameId},
         update_time=now(),value_name=#{valueName}
      WHERE
         id=#{id}
    </update>

    <!--删除字典类型表数据-->
    <delete id="deleteDictionariestype" >
      DELETE  FROM
          lt_dictionariestype
     WHERE
          <foreach  collection="Did" item="id" separator="OR">
                 id=#{id}
          </foreach>

    </delete>


    <!--/////////////////////////字典内容表///////////////-->
    <!--字典内容表添加s-->
    <insert id="addDictionaries"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.wisewin.backend.entity.bo.DictionariesBO">

        INSERT  INTO
        lt_dictionaries(
        `key`,`value`,
        dn_name,
        dn_releasetime,update_user_id,
        rank,outer_id
        )VALUES (
        #{key},#{value},
        #{dnName},
        now(),#{updateUserId},
        #{rank},#{outerId}
        )

    </insert>

    <!--查询，通过字典类型来查询出字典里面的内容-->
    <select id="queryDictionaries" resultType="com.wisewin.backend.entity.bo.DictionariesBO">
          SELECT
            id,`key`,
            `value`,
            dn_name,dn_releasetime,
            update_user_id,rank,
            outer_id
          FROM
            lt_dictionaries
          WHERE
            outer_id=#{outerId}

    </select>

    <!--查找数据是否存在-->
  <select id="findloadDictionaries" resultType="int">
   SELECT
      count(id)
    FROM
    lt_dictionaries
    WHERE
    `value`=#{value}
  </select>

    <!--显示字典内容表-->
    <select id="queryloadDictionarieslist" resultType="com.wisewin.backend.entity.bo.DictionariesBO" >

    SELECT
        id,`key`,
        `value`,
        dn_name,dn_releasetime,
        update_user_id,rank,
        outer_id
    FROM
        lt_dictionaries
    ORDER  BY
      rank
    </select>

    <!--修改字典内容-->
    <update id="updateDictionaries" parameterType="java.util.Map">
        UPDATE
          lt_dictionaries
        SET
          `key`=#{key},`value`=#{value},
          dn_name=#{dnName},
          dn_releasetime=now(),
          update_user_id=#{updateUserId},rank=#{rank},
          outer_id=#{outerId}
        WHERE
          id=#{id}
    </update>

    <!--删除字典内容-->
    <delete id="deleteDictionaries">
    DELETE  FROM
        lt_dictionaries
    WHERE
      <foreach collection="cid" item="id"  separator="or">
          id=#{id}
      </foreach>
    </delete>

</mapper>