<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 语言 -->
<mapper namespace="com.wisewin.backend.dao.LanguageDAO">


    <!--列表查询-->
    <select id="queryLanguageList"  parameterType="java.util.Map"  resultType="com.wisewin.backend.entity.bo.LanguageBO" >
        SELECT  *
        FROM `lt_language`
          <where>
              <if test="languageName!=null and languageName!=''" >
                  AND  language_name  LIKE  '%${languageName}%'
              </if>
              <if test="status!=null and  status!=''">
                  AND   status=#{status}
              </if>
              <if test="hotOrNot!=null and  hotOrNot!=''" >
                  AND    hot_or_not=#{hotOrNot}
              </if>
              <if test="preference!=null" >
                  AND      #{preference}  BETWEEN   discount_start_time  AND  discount_end_time
              </if>
          </where>

        ORDER BY   popular_sort   DESC
    </select>


    <!--语言添加-->
    <insert id="addLanguage"  parameterType="com.wisewin.backend.entity.bo.LanguageBO" >
      INSERT INTO `lt_language` ( `language_name`, `status`, `foreign_language_name`, `ensign_image_url`, `thumbnail_image_url`,
													`popular_sort`, `language_lightspot`, `purchase_notes`, `video_path`, `language_intro`,
														`price`, `discount_price`, `discount_start_time`, `discount_end_time`, `hot_or_not`,
													`create_user_id`, `create_time`, `update_user_id`, `update_time`)
						     VALUES (#{languageName},#{status} ,#{foreignLanguageName} ,#{ensignImageUrl},#{thumbnailImageUrl},
														#{popularSort},#{languageLightspot},#{purchaseNotes} ,#{videoPath},#{languageIntro},
														#{price},#{discountPrice}, #{discountStartTime}, #{discountEndTime},#{hotOrNot},
														#{createUserId}, #{createTime},#{updateUserId},#{updateTime});
    </insert>


    <!--修改-->
    <update  id="updateLanguage"  parameterType="com.wisewin.backend.entity.bo.LanguageBO" >
      UPDATE  `lt_language`
        <set>
            <if test="languageName!=null and languageName!=''"  >
                `language_name`=#{languageName} ,
            </if>
            <if test="status!=null and status!=''"  >
                `status`=#{status},
            </if>
            <if test="foreignLanguageName!=null and foreignLanguageName!=''"  >
                `foreign_language_name`=#{foreignLanguageName} ,
            </if>
            <if test="ensignImageUrl!=null "  >
                `ensign_image_url`=#{ensignImageUrl},
            </if>
            <if test="thumbnailImageUrl!=null" >
                `thumbnail_image_url`=#{thumbnailImageUrl},
            </if>
            <if test="popularSort!=null and popularSort!=''" >
                `popular_sort`=#{popularSort},
            </if>
            <if test="languageLightspot!=null and popularSort!=''" >
                `language_lightspot`=#{languageLightspot},
            </if>
            <if test="purchaseNotes!=null and purchaseNotes!=''" >
                `purchase_notes`=#{purchaseNotes},
            </if>
            <if test="videoPath!=null and videoPath!=''" >
                `video_path`=#{videoPath},
            </if>
            <if test="languageIntro!=null and languageIntro!=''" >
                `language_intro`=#{languageIntro},
            </if>
            <if test="price!=null" >
                `price`=#{price},
            </if>
            <if test="discountPrice!=null" >
                `discount_price`=#{discountPrice},
            </if>
            <if test="discountStartTime!=null" >
                `discount_start_time`=#{discountStartTime},
            </if>
            <if test="discountEndTime!=null" >
                `discount_end_time`=#{discountEndTime},
            </if>
            <if test="hotOrNot!=null" >
                `hot_or_not`=#{hotOrNot},
            </if>
            <if test="createUserId!=null" >
                `create_user_id`=#{createUserId},
            </if>
            <if test="createTime!=null" >
                `create_time`=#{createTime},
            </if>
            <if test="updateUserId!=null" >
                `update_user_id`=#{updateUserId},
            </if>
            <if test="updateTime!=null" >
                `update_time`=#{updateTime},
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <!--通过id 查询-->
    <select id="queryLanguageById"  parameterType="java.lang.Integer"  resultType="com.wisewin.backend.entity.bo.LanguageBO" >
        SELECT *  FROM `lt_language` WHERE   id=#{id}
    </select>


    <!--选择语言查询-->
    <select id="queryLanguageChoice"  resultType="com.wisewin.backend.entity.bo.LanguageChoiceBO">
        SELECT id,language_name as name  FROM `lt_language`  WHERE   status='putaway'
         ORDER BY   popular_sort  DESC
    </select>


    <!--修改购买须知-->
    <update id="updateNotice"  parameterType="java.lang.String" >
        UPDATE lt_language SET purchase_notes=#{notice}
    </update>

    <!--通过语言名字查询语言-->
    <select id="queryLanguageIdByName"  parameterType="java.lang.String" resultType="java.lang.Integer">
          SELECT id FROM `lt_language`  WHERE   language_name=#{name}
    </select>
</mapper>