<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 订单 -->
<mapper namespace="com.wisewin.backend.dao.OrderDao">

    <!--查看某个用户的订单信息-->
    <select id="queryOrderById" resultMap="queryOrderByIdMap">
        select
        id,user_id,
        price,order_number,
        product_name,
        creation_date,
        course_validity_period
        from lt_order where user_id=#{id}
        <include refid="orderLimit" />
    </select>
    <resultMap id="queryOrderByIdMap" type="com.wisewin.backend.entity.bo.OrderBO">
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="price" property="price"></result>
        <result column="order_number" property="orderNumber"></result>
        <result column="product_name" property="productName"></result>
        <result column="creation_date" property="creationDate"></result>
        <result column="course_validity_period" property="courseValidityPeriod"></result>
    </resultMap>

    <!--查看某个用户的订单总数-->
    <select id="queryOrderByIdCount" resultType="java.lang.Integer">
        select
        count(*)
        from lt_order where user_id=#{id}
    </select>
    <!--查询订单下的子课程-->
    <select id="queryOrderCoursesByOrderId" resultType="com.wisewin.backend.entity.bo.OrderCoursesBO">
        select courses_name,course_validity_period
        from lt_order_courses where order_id=#{orderId}
    </select>

    <!-- 按时间段 手机号 订单号 分页查询所有订单-->
    <select id="queryOrderByCond" resultType="com.wisewin.backend.entity.bo.OrderBO" parameterType="com.wisewin.backend.entity.param.OrderParam">
        select
        lt_order.id,lt_order.status,
        `nickname` as name,mobile,
        price,order_number,lt_order.status,
        creation_date,product_name,
        lt_order.order_type as orderType,
        lt_order.status,purchase_channels
        from lt_order,lt_user
        <where>
            lt_user.id=lt_order.user_id
            <if test="mobile!=null and mobile!=''"> AND mobile=#{mobile}</if>
            <if test="orderNumber!=null and orderNumber!=''"> AND order_number LIKE  CONCAT('%',#{orderNumber},'%')</if>
            <if test="afterTime!=null and afterTime!=''"> AND creation_date &gt;=#{afterTime}</if>
            <if test="beforeTime!=null and beforeTime!=''"> AND creation_date &lt;=#{beforeTime}</if>
        </where>
        order by lt_order.create_time desc
        <include refid="orderLimit" />
    </select>
    <sql id="orderLimit">
      limit #{pageNo},#{pageSize}
    </sql>

    <!--按时间段 手机号 订单号 查询所有订单数量-->
    <select id="queryOrderByCondCount" resultType="java.lang.Integer" parameterType="com.wisewin.backend.entity.param.OrderParam">
        select
        count(*)
        from lt_order,lt_user
        <where>
            lt_user.id=lt_order.user_id
            <if test="mobile!=null and mobile!=''"> AND mobile=#{mobile}</if>
            <if test="orderNumber!=null and orderNumber!=''"> AND order_number LIKE  CONCAT('%',#{orderNumber},'%')</if>
            <if test="afterTime!=null and afterTime!=''"> AND creation_date &gt;=#{afterTime}</if>
            <if test="beforeTime!=null and beforeTime!=''"> AND creation_date &lt;=#{beforeTime}</if>
        </where>
    </select>

    <select id="queryCoursesById" resultType="java.lang.Integer">
        select user_id from lt_order_courses where courses_id=#{coursesId}
    </select>

</mapper>