<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.wisewin.backend.dao.UserDAO">
    <!-- 查询所有用户邀请记录 -->
    <select id="getAllInvitationRecord" resultType="com.wisewin.backend.entity.bo.InvitationRecordBO" parameterType="java.util.Map">
        select
        yqr.id as yqrId,byr.id as byrId,
        yqr.nickname as yqrNickName,byr.nickname as byrNickName,
        yqr.mobile as yqrMobile,byr.mobile as byrMobile,
        byr.registered_channels as registeredChannels,byr.create_time as createTime,
        rec.specific_amount as yqrSpecificAmount,byrrec.specific_amount as byrSpecificAmount
        from lt_user as yqr,lt_user as byr,lt_record as rec,lt_record as byrrec
        <where>
            byr.by_invite=yqr.id  and rec.`describe` like  concat(concat('%','邀请'),'%') and rec.user_id=yqr.id and byrrec.user_id =byr.id
            <if test="nickname!=null and nickname!=''">
                AND (yqr.nickname LIKE concat(concat('%',#{nickname}),'%') or byr.nickname LIKE concat(concat('%',#{nickname}),'%'))
            </if>
            <if test="mobile!=null and mobile!=''">
                AND (yqr.mobile LIKE concat(concat('%',#{mobile}),'%') or byr.mobile LIKE concat(concat('%',#{mobile}),'%'))
            </if>
            <if test="time!=null and time!=''">
                AND byr.create_time LIKE concat(concat('%',#{time}),'%')
            </if>
        </where>
        group by byr.mobile
        order by byr.create_time desc
        <include refid="invitationLimit" />
    </select>

    <sql id="invitationLimit">
      limit #{pageNo},#{pageSize}
    </sql>

    <!--查询所有邀请记录数-->
    <select id="getAllInvitationRecordCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        byrrec.id
        from lt_user as yqr,lt_user as byr,lt_record as rec,lt_record as byrrec
        <where>
            byr.by_invite=yqr.id  and rec.`describe` like  concat(concat('%','邀请'),'%') and rec.user_id=yqr.id and byrrec.user_id =byr.id
            <if test="nickname!=null and nickname!=''">
                AND (yqr.nickname LIKE concat(concat('%',#{nickname}),'%') or byr.nickname LIKE concat(concat('%',#{nickname}),'%'))
            </if>
            <if test="mobile!=null and mobile!=''">
                AND (yqr.mobile LIKE concat(concat('%',#{mobile}),'%') or byr.mobile LIKE concat(concat('%',#{mobile}),'%'))
            </if>
            <if test="time!=null and time!=''">
                AND byr.create_time LIKE concat(concat('%',#{time}),'%')
            </if>
        </where>
        group by byr.mobile
    </select>

    <!--查询一个用户邀请过的人-->
    <select id="getInvitationRecord" parameterType="java.lang.Integer" resultType="com.wisewin.backend.entity.bo.UserBO">
        select id,nickname,mobile,create_time,registered_channels
        from lt_user where by_invite=#{id}
        <include refid="limit" />
    </select>
    <sql id="limit">
      limit #{pageNo},#{pageSize}
    </sql>


    <!--查询一个用户邀请过的人数-->
    <select id="getInvitationRecordCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*)  from lt_user where by_invite=#{id}
    </select>

    <!--通过phone查看库里有没有这个账号-->
    <select id="selectByPhone" resultType="com.wisewin.backend.entity.bo.UserBO">
        select
        id,nickname,mobile
        from
        lt_user
        where
        mobile=#{phone}
    </select>

    <insert id="insertUser"     parameterType="com.wisewin.backend.entity.bo.UserBO"
            useGeneratedKeys="true" keyProperty="id">

        insert into lt_user(
        nickname,birthday,sex,password,mobile
        )values(
        #{nickname},#{birthday},#{sex},#{password},#{mobile}
        )

    </insert>


    <update id="updateUser" parameterType="com.wisewin.backend.entity.param.UserParam">
        update lt_user
        <set>

            <if test="nickname!=null">nickname=#{nickname},</if>
            <if test="password!=null">password=#{password},</if>

            <if test="sex!=null">     sex=#{sex},</if>
            <if test="birthday!=null">birthday=#{birthday}</if>

        </set>
        where
        id=#{id}
    </update>
    <update id="updatePassword" parameterType="com.wisewin.backend.entity.bo.UserBO">
        update lt_user
        <set>

            <if test="password!=null">
                password=#{password}
            </if>

        </set>
        where
        phone=#{phone}
    </update>
    <!--通过id查找用户信息-->
    <select id="selectById" resultType="com.wisewin.backend.entity.bo.UserBO">
        select
        id,name,birthday,gender,password,phone
        from
        lt_user
        where
        id=#{id}
    </select>
    <!--通过用户名查询用户信息-->
    <select id="selectUserByUsername" resultType="com.wisewin.backend.entity.bo.UserBO">
        select
        id,name,phone,password,birthday,gender
        from
        lt_user
        where
        name=#{name}
    </select>

    <!--通过条件分页查询用户信息-->
    <select id="selectUsers" resultType="com.wisewin.backend.entity.bo.UserBO" parameterType="java.util.Map">
        select
        id,head_portrait_url as headPortraitUrl,nickname,email,birthday,integral,occupation,sex,
        cumulative_sign as cumulativeSign,continuous_learning as continuousLearning,currency,
        create_time as createTime,name,mobile,sex,invite_code as inviteCode,currency,by_invite as byInvite,
        continuous_sign as continuousSign,last_sign as lastSign,cumulative_learning as cumulativeLearning,
        status,learning_goal as learningGoal,age_group as ageGroup,registered_channels
        from
        lt_user
        <where>
            <if test="name!=null and name!=''"> AND `name` LIKE concat(concat('%',#{name}),'%')</if>
            <if test="nickname!=null and nickname!=''"> AND nickname LIKE concat(concat('%',#{nickname}),'%')</if>
            <if test="email!=null and email!=''"> AND email LIKE concat(concat('%',#{email}),'%')</if>
            <if test="mobile!=null and mobile!=''"> AND mobile LIKE concat(concat('%',#{mobile}),'%')</if>
            <if test="learningGoal!=null and learningGoal!=''"> AND learning_goal LIKE concat(concat('%',#{learningGoal}),'%')</if>
            <if test="ageGroup!=null and ageGroup!=''"> AND age_group LIKE concat(concat('%',#{ageGroup}),'%')</if>
        </where>
        order by createTime desc
        <include refid="userLimit" />

    </select>
    <sql id="userLimit">
      limit #{pageIndex},#{pageSize}
    </sql>

    <!--通过条件分页查询用户个数-->
    <select id="selectUsersCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        select
        count(*)
        from
        lt_user
        <where>
            <if test="name!=null and name!=''"> AND `name` LIKE concat(concat('%',#{name}),'%')</if>
            <if test="nickname!=null and nickname!=''"> AND nickname LIKE concat(concat('%',#{nickname}),'%')</if>
            <if test="email!=null and email!=''"> AND email LIKE concat(concat('%',#{email}),'%')</if>
            <if test="mobile!=null and mobile!=''"> AND mobile LIKE concat(concat('%',#{mobile}),'%')</if>
            <if test="learningGoal!=null and learningGoal!=''"> AND learning_goal LIKE concat(concat('%',#{learningGoal}),'%')</if>
            <if test="ageGroup!=null and ageGroup!=''"> AND age_group LIKE concat(concat('%',#{ageGroup}),'%')</if>
        </where>
    </select>

    <!--批量 修改用户状态-->
    <update id="deleteUsersById">
        update lt_user set status=#{status}
        where id in
            <foreach collection="idArr" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>

    </update>



</mapper>